.container {
    .container__menu {
        display: flex;
        align-items: center;
        height: 64px;
        width: 100%;
        .menu__navbar {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
    }
    .container__content {
        position: relative;
        .image__top-content {
            background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(39, 180, 133, 0.8)),
                url(../../assest/hero.jpg);
            background-position: top;
            background-size: cover;
            height: 90vh;
            clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
        }
        .text-box {
            // position: relative;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            .heading-primary {
                color: #fff;
                text-transform: uppercase;

                .heading-primary-main {
                    display: block;
                    font-size: 60px;
                    font-weight: 400;
                    letter-spacing: 60px;
                }
                .heading-primary-sub {
                    display: block;
                    font-size: 20px;
                    font-weight: 700;
                    letter-spacing: 18px;
                }
            }
        }
    }
}
