.form__change-password {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    .ant-form {
        display: flex;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        padding: 8px;
        border-radius: 6px;
        background-color: #fff;
        margin-bottom: 8px;

        .ant-form-item {
            margin-bottom: 0;
            height: 60px;
            align-items: center;
        }
    }
}
