.container {
    height: 100vh;
    position: relative;
    .about__img-cover {
        background-image: url(../../assest/nat-9.jpg);
        background-size: cover;
        background-position: center;
        height: 50%;
        border-radius: 6px;
        border: 1px solid #000;
    }
    .container__info-header {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0 10px 40px 4px #ccc;
        // max-height: 160px;

        .title-name {
            .about__title-name {
                font-size: 30px;
                font-weight: 500;
                display: flex;
                justify-content: center;
                flex-direction: column;
                .about__name-main {
                    display: block;
                }
                .about__name-sub {
                    display: block;
                    font-size: 20px;
                }
                .total-img {
                    .img1,
                    .img2,
                    .img3,
                    .img4,
                    .img5 {
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        border: 2px solid #fff;
                    }
                    .avatar:not(:first-child) {
                        margin-left: -8px;
                    }
                }
            }
        }
        .about__img-avatar {
            transform: translate(50px, -70px);
            background-image: url(../../assest/avatar.jpg);
            background-size: cover;
            background-position: top;
            height: 200px;
            width: 200px;
            border-radius: 50%;
            border: 3px solid #fff;
            margin-right: 60px;
        }
    }
    .menu__info-about {
        width: 100%;
        height: 30px;
        background-color: #ccc;
        &__intro-info {
            display: flex;
        }
    }
}
