.container {
    height: 100vh;
    width: 100%;
    position: relative;

    .container-contact {
        color: #777777;
        font-size: 15px;
        line-height: 27px;
        margin: 0px 184.5px;
        padding: 64px 16px;
        position: relative;
        height: 100vh;
        .login__loading {
            display: flex;
            justify-content: center;
            align-items: center;
            // height: 100vh;
            .overflow {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                // background-color: rgba(0, 0, 0, 0.08);
                z-index: 10;
                display: none;

                .img__loading {
                    height: 150px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:active {
                    display: block;
                }
            }
        }
        .title-contact {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 42px;

            h3 {
                font-size: 24px;
                font-weight: 400;
                color: #777777;
            }
            span {
                font-size: 16px;
                font-weight: 400;
                font-style: italic;
                color: #777777;
            }
        }
        .contact-info {
            display: flex;
            color: #777777;
            font-size: 15px;
            line-height: 27px;
            margin: 16px 0px;
            padding: 32px 0px;
            img {
                width: 286px;
                height: 160px;
                border-radius: 4px;
                color: #777777;
                display: inline;
                font-size: 15px;
                line-height: 27px;
                margin-right: 32px;
            }
            .contact-input-form {
                display: flex;
                flex-direction: column;
                .title-info-contact {
                    display: flex;
                    flex-direction: column;
                    color: #777777;
                    font-size: 18px;
                    line-height: 32.4px;
                    margin: 0px 0px 16px;
                    .fa-solid {
                        margin-right: 10px;
                    }
                }
                p {
                    margin-bottom: 20px;
                }
                form {
                    .contact-container-input {
                        display: flex;
                        width: 100%;
                        .input-contact {
                            // width: 100%;
                            // flex: 1;
                            margin-bottom: 5px;
                            .contact-name,
                            .contact-email {
                                background-color: #ffffff;
                                border-color: #cccccc;
                                border-style: solid;
                                border-width: 1px;
                                font-family: Lato;
                                font-size: 15px;
                                line-height: 27px;
                                padding: 8px;
                                margin-right: 10px;
                                min-width: 300px;
                            }
                            .width-input {
                            }
                        }
                    }
                    .contact-message {
                        background-color: #ffffff;
                        border-color: #cccccc;
                        border-style: solid;
                        border-width: 1px;
                        font-family: Lato;
                        font-size: 15px;
                        line-height: 27px;
                        padding: 8px;
                        min-width: 610px;
                        margin-bottom: 5px;
                        flex: 1;
                    }
                    .contact-right {
                        float: right;
                    }
                    .contact-btn {
                        border: none;
                        // display: inline-block;
                        padding: 8px 16px;
                        vertical-align: middle;
                        overflow: hidden;
                        text-decoration: none;
                        text-align: center;
                        cursor: pointer;
                        white-space: nowrap;
                        background-color: #000;
                        color: #fff;
                        // float: right;
                        margin-right: 10px;
                        &:hover {
                            background-color: #d8d8d8;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}
